.register_input {
    display: block;
    width: 250px;
    height: 40px;
    border: 1px solid pink;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
}

.register_input:hover {
    border: 1px solid violet;
}

.register_label {
    font-size: 24px;
    font-weight: 500;
    color: violet;
}

.register_btn {
    display: block;
    margin-top: 50px;
    width: 250px;
    height: 40px;
    background-color: pink;
    color: white;
    font-size: 20px;
    border: 1px solid pink;
    border-radius: 5px;
}

.register_btn:hover {
    border: 1px solid violet;
    background-color: violet;
}